 /* Typography*/

 body {
 background: white;
 font-size: 87.5%; /* 14 px font */
 font-family: sans-serif, 'Roboto', 'Arial', 'Verdana', 'Trebuchet MS'; /* multiple fonts for a variety of browsers */
 line-height: 1.5;
 }

h1 { /* My name in the top left of the header each page */
  font-style: italic;
  font-size: 200%;
  font-weight: 900;
}

h2 { /* the heading for my aside */
  font-size: 120%;
  padding: 3%;
}

h3 {  /* main headings on each page */
  padding: 3%;
  font-size: 180%;
}

h4.homepageheadings { /* all of the headings on the homepage */
  padding: 3%;
  margin: 5% 0% 0% 0%;
  font-size: 140%;
}

h4 { /* The sub headings on each page */
  margin: 12% 0% 0% 0%;
  padding: 3%;
  font-size: 140%;
}

h5 { /* the heading for my footer */
  padding: 1.5%;
  font-style: italic;
  font-weight: 900;
}

p {
  padding: 2% 2% 2% 3%;
  font-weight: 600;
}

p#GPA {
  font-size: 120%;
}

blockquote { /* The quote on my running page */
  float: right;
  background-color: lightgrey;
  font-style: italic;
  font-size: 105%;
  font-weight: bold;
  padding: 2%;
  margin: 10% 3% 3% 3%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

a.homepagelinks {
  text-decoration: none;
  color: black;
}

a.homepagelinks:hover {
  color: #E2DFE0;
}

a.bluetextlinks {
  text-decoration: none;
  color: #259999;
}

a.redtextlinks {
  text-decoration: none;
  color: #992424;
}

a.redtextlinks:hover {
  color: #E67171;
}

a.bluetextlinks:hover {
  color: #72E6E6;
}

a#strava {
  color: #ff6e1a;
  text-decoration: none;
}

a#strava:hover {
  color: #FFBB67;
}

a.emails {
  text-decoration: none;
  color: white;
  padding: 3%;
}

a.emails:hover {
  background-color: black;
  color: lightblue;
}

/* Layout */

* {
  margin: 0;
}

#container {
  width: 85%;
  margin: 0 auto;
}

/* my banner (header) */
header {
  background-color: white;
}

/* the main navigation system for my website */
ul.navcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: grey;
  margin: 2% 0% 0% 0%;
  border-radius: 20px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style: none;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: lightblue;
}

a.activelink {
  background-color: black;
  color: lightblue;
}

ul.awardscontainer {
  padding: 5%;
}

li.awards {
  padding: 0% 0% 3% 0%;
  list-style-type: disc;
  font-weight: 600;
  text-decoration: none;
}

/* side navigaion and contact info */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 20%;
  margin: 2% 0% 0% 0%;
  padding: 0% 0% 10% 0%;
  background-color: #A4343A;
  border-radius: 25px;
}

/* my main content area */
main {
  float: right;
  width: 78%;
  margin: 2% 0% 2% 0%;
  background-color: #E0DBE3;
  }


/* image styling. split into classes for the imgs on specific pages */
img.home {
  float: right;
  width: 20%;
  margin: 2%;
  border: 1px solid;
  border-radius: 25px;
  image-rendering: -webkit-optimize-contrast;
}

img.aboutme {
  float: right;
  margin: 0% 2% 8% 2%;
  border-radius: 25px;
  image-rendering: -webkit-optimize-contrast;
}


img.experience {
  float: right;
  margin: 2%;
  border: 1px solid;
  border-radius: 25px;
  image-rendering: -webkit-optimize-contrast;
}

img.awards {
  float: right;
  margin: 2%;
  image-rendering: -webkit-optimize-contrast;
}

img.running {
  float: right;
  margin: 2%;
  border: 1px solid;
  border-radius: 25px;
  image-rendering: -webkit-optimize-contrast;
}

img.wjxctf {
  float: right;
  margin: 2%;
  image-rendering: -webkit-optimize-contrast;
}

img.linkedinicon {
  margin: 30% 30% 0% 30%; /* to center the linkedin icon in the aside */
}

img.linkedinicon:hover {
  border: 2px solid black;
}

/* Table to display my grades and skills learned on the experience page*/
table, th, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 3%;
  font-weight: bold;
}

/* coloring the rows of the tables */
tr:nth-child(1) {
  background-color: #992424;
  color: white;
}

tr:nth-child(2) {
  background-color: lightgrey;
}

tr:nth-child(3) {
  background-color: grey;
}

tr:nth-child(4) {
  background-color: lightgrey;
}

tr:nth-child(5) {
  background-color: grey;
}

/* the three additional rows for the running personal records table on the running page */
tr:nth-child(6) {
  background-color: lightgrey;
}

tr:nth-child(7) {
  background-color: grey;
}

tr:nth-child(8) {
  background-color: lightgrey;
}

tr:nth-child(9){
  background-color: grey;
}

footer {
  background-color: black;
  color: white;
  clear: both;
  margin: 2% 0% 0% 0%;
  border-radius: 25px;
}

/* Media Queries */

@media (max-width: 760px) { /* mobile phone screen size */
  .navcontainer > li {
    flex-basis: 80%;
  }

  #sidebar {
    display: none;
  }

  main {
    clear: both;
    width: 100%;
  }

  img.wjxctf{
    display: none;
  }
}
